Repository runatlantis/atlantis-example: changes, and which Atlantis projects are due for each by the changed paths.
All: another-floor, yet-another-floor

atlantis.yaml:

version: 3
automerge: true
projects:
- name: another-floor
  dir: another-floor/
  autoplan:
    when_modified: [
      "*.tf*",
      "../modules/*/*.tf",
    ]
- name: yet-another-floor
  dir: yet-another-floor/
  autoplan:
    when_modified: [
      "*.tf*",
      "../modules/*/*.tf",
    ]

add lock2
  main.tf
Due: none

add lock
  main.tf
Due: none

del
  modules/common/main.tf
Due: another-floor, yet-another-floor

fix
  atlantis.yaml
Due: none

add 3
  yet-another-floor/main.tf
Due: yet-another-floor

add parallel
  atlantis.yaml
Due: none

mod common
  modules/common/main.tf
Due: another-floor, yet-another-floor

fix bug
  main.tf
Due: none

del
  yet-another-floor/main.tf
Due: yet-another-floor

mod config
  atlantis.yaml
Due: none

add fmt
  atlantis.yaml
Due: none

wrong fmt
  yet-another-floor/main.tf
Due: yet-another-floor

move to repo.yaml
  atlantis.yaml
Due: none

chore: terraform fmt
  yet-another-floor/main.tf
Due: yet-another-floor

mod cmn2
  modules/common/main.tf
Due: another-floor, yet-another-floor

add main directory
  another-floor/main.tf
Due: another-floor

add main directly2
  another-floor/main.tf
Due: another-floor

add
  modules/common/main.tf
Due: another-floor, yet-another-floor

test
  another-floor/main.tf
Due: another-floor

new common4
  modules/common/main.tf
Due: another-floor, yet-another-floor

test (#15)
  main.tf
Due: none

Terragrunt test
  modules/main.tf
  prod/env.hcl
  prod/null/terragrunt.hcl
  repos.yaml
  staging/env.hcl
  staging/null/terragrunt.hcl
Due: none

add 3
  another-floor/main.tf
Due: another-floor

del cmn4
  modules/common/main.tf
Due: another-floor, yet-another-floor

add files
  Pipelines/testpipeline/pipelines.json
  Pipelines/testpipeline/pipelines_tmp.json
  Pipelines/testpipeline/single_pipeline.json
  Pipelines/testpipeline/single_pipeline2.json
  backend.tf
  data.tf
  dev_test/var_test.tf
  env/dev/.terraform/modules/modules.json
  env/dev/backend.tf
  env/dev/main.tf
  env/dev/resources.tf
  env/dev/terragrunt.hcl
  env/dev/variables.tf
  env/prod/variables.tfvars
  env/st1/variables.tfvars
  main.tf
  modules/dynamodb_item/dynamodb.tf
  modules/dynamodb_item/variables.tf
  modules/dynamodb_table/main.tf
  modules/dynamodb_table/variables.tf
  modules/s3_m/s3.tf
  modules/s3_m/variables.tf
  modules/s3_m2/s3.tf
  modules/s3_m2/terragrunt.hcl
  modules/s3_m2/variables.tf
  resources.tf
  variables.tf
Due: another-floor, yet-another-floor

Create atlantis.yaml
  atlantis.yaml
Due: none

Update data.tf
  data.tf
Due: none

Update atlantis.yaml
  atlantis.yaml
Due: none

Update README.md
  README.md
Due: none

commit
  Test/main.tf
  Test/provider.tf
  main.tf
Due: none

update
  main.tf
Due: none
